{:kotoba.app/id "cloud.itonami.isic-3012", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreig3idahk6hfv3ee2tyxtdvwsyxh4p2qgq2pelnayb7klmkqacqura", :kotoba.app/embed-url "ipfs://bafkreig3idahk6hfv3ee2tyxtdvwsyxh4p2qgq2pelnayb7klmkqacqura", :published {:archive "https://kotobase.net/ipfs/bafkreig3idahk6hfv3ee2tyxtdvwsyxh4p2qgq2pelnayb7klmkqacqura", :size 72809, :put-status 201, :get-status 200, :at "2026-08-15T13:50:56.730Z"}}
